---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Inicio">
  <h1 class="text-center text-4xl font-bold">Bienvenido a mi sitio web</h1>
  <p class="mt-4 text-center">Esta es la página de inicio.</p>
</Layout>
